<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RozgrywkiSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="GlownySoap">
                    <security mode="Transport" />
                </binding>
                <binding name="GlownySoap1" />
                <binding name="RozgrywkiSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://x230-think:44301/Glowny.asmx" binding="basicHttpBinding"
                bindingConfiguration="GlownySoap" contract="Glowny.GlownySoap"
                name="GlownySoap" />
            <endpoint address="https://x230-think:44301/Rozgrywki.asmx" binding="basicHttpBinding"
                bindingConfiguration="RozgrywkiSoap" contract="Rozgrywki.RozgrywkiSoap"
                name="RozgrywkiSoap" />
        </client>
    </system.serviceModel>
</configuration>