<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RozgrywkiSoap" />
                <binding name="GlownySoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51314/glowny.asmx" binding="basicHttpBinding"
                bindingConfiguration="GlownySoap" contract="Glowny.GlownySoap"
                name="GlownySoap" />
            <endpoint address="http://localhost:51314/rozgrywki.asmx" binding="basicHttpBinding"
                bindingConfiguration="RozgrywkiSoap" contract="Rozgrywki.RozgrywkiSoap"
                name="RozgrywkiSoap" />
        </client>
    </system.serviceModel>
</configuration>